<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anteryami University</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="top-headding">Anteryami
            <div style="color: blue; font-weight: bold;">University</div>
        </div>

        <nav>
            <div id="navbar">
                <ul>
                    <li class="menu_item"><a href="\">Home</a></li>
                    <li class="menu_item"><a href="\SPI">SPI</a></li>
                    <li class="menu_item"><a href="\SPI">PPI</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="card text-center" id="zeel">
        <div class="card-header" id="zee" style="background-color:red; font-weight: bold; color: white;">
        SPI|PPI CALCULATOR
    </div>
    <div class="card-body">
        <h5 class="card-title">Well Come to Anteryami University</h5>
        <p class="card-text">The worls dum and dety Collage!!!!</p>
        <a href="/SPI" class="btn btn-primary">Go SPI Caluculation</a>
    </div>
    <div class="card-footer" id="gu" style="background-color: red; font-weight: bold; color:black;">
        AU COMPUTER SCIENCE ENGINNERING
    </div>
    <footer>
        <div class="foo">
            <ul>
                <li><a href="\">AU</a>|</li>
                <li><a href="\">Home</a>|</li>
                <li><a href="\SPI">SPI</a>|</li>
                <li><a href="\SPI">PPI</a></li>

            </ul>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>