{% extends "main.html" %} {% block content %}
<div class="card text-center" id="zeel">
    <div class="card-header" id="zee" style="background-color:red; font-weight: bold; color: white;">
        SPI|PPI CALCULATOR
    </div>
    <div class="card-body">
        <h5 class="card-title">Well Come to Anteryami University</h5>
        <p class="card-text">The worls dum and dety Collage!!!!</p>
        <a href="/SPI" class="btn btn-primary">Go SPI Caluculation</a>
    </div>
    <div class="card-footer" id="gu" style="background-color: red; font-weight: bold; color:black;">
        AU COMPUTER SCIENCE ENGINNERING
    </div>
</div>
{% endblock %}